module.exports = {
  // Path to LeagueClient.exe
  exePath: 'C:\\Riot Games\\League of Legends\\LeagueClient.exe',
  // Options passed to util.inspect() when printing stuff to the console
  cliInspectOpts: {
    depth: Infinity,
    colors: true
  },
  // Stuff to load
  // Paths are relative to bin/cli.js
  plugins: {
    autoRunes: '../src/autoRunes'
  }
};
